/* .app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
} */
/*   
input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
  
input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}
  
input[type="submit"]:hover {
    background: #6cf0c2;
}
   */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.login-form {
  margin-top: 80px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: min-content;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

/* Define the table structure */
/* table {
    border-collapse: collapse;
    width: 80%;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
   */
/* Set the styles for the table */
/* th {
    background-color: #f2f2f2;
    font-weight: bold;
} */

/* td {
    background-color: #fff;
} */

/* Style the individual table cells */
/* td:nth-child(even) {
    background-color: #f2f2f2;
} */

.appleft {
  /* background-color: azure; */
  justify-content: center;
  text-align: left;
  margin-left: 10px;
}

.query-form {
  margin-top: 10px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: max-content;
}

.my-select {
  background-color: #f2f2f2;
  border: none;
  color: #333;
  font-size: 16px;
  padding: 5px;
  width: max-content;
  box-shadow: 0 0 0 2px #8db6d1;
}

.my-select:hover {
  background-color: #e6e6e6;
}

.my-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px black;
}

.custom-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 155pt;
  margin-bottom: 10px;
}

.custom-button:hover {
  background-color: #0062cc;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  border: 1px solid black;
  padding: 10px;
}

.ant-select-dropdown {
  z-index: 20000;
}

.ant-select-selection-placeholder {
  color: #0891b2 !important;
}

.ant-select-selector {
  border: 1px solid #0891b2 !important;
  background-color: transparent !important;
}

.ant-select-selection-search-input {
  min-width: 0px !important;
}